@font-face {
  font-family: 'Avenir Next LT Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Regular'), url('./fonts/AvenirNextLTPro-Regular.woff') format('woff');
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Avenir Next LT Pro Regular';
}

#app {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  text-align: center;
}

input {
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  padding: 10px 8px;
  margin: 10px 3px;
  border: 0;
  border-bottom: 1px solid grey;
}

form {
  margin: 10px auto;
}

button {
  background-color: #4d62ee;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  width: 100%;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.container {
  border-radius: 6px;
  padding: 20px;
  max-width: 300px;
  -webkit-box-shadow: 0 0 8px 0 rgba(239,239,253,.4), 0 22px 24px 0 rgba(239,239,253,.32), 0 9px 22px 0 rgba(228,228,234,.32);
  box-shadow: 0 0 8px 0 rgba(239,239,253,.4), 0 22px 24px 0 rgba(239,239,253,.32), 0 9px 22px 0 rgba(228,228,234,.32);
}

.flex-col {
  display: flex;
  border-radius: 3px;
}

.flex-col span {
  font-size: 10px;
  padding: 5px;
  border-bottom: 1px solid grey;
}

ul {
  margin: 0;
  padding: 0;
}

.main {
  border: 1px solid black;
}

.sidebar {
  flex-basis: 200px;
  background: black;
  color: white;
  width: 300px;
  height: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}