@font-face {
  font-family: 'Avenir Next LT Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Regular'), url('./fonts/AvenirNextLTPro-Regular.woff') format('woff');
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Avenir Next LT Pro Regular';
}

#app {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  text-align: center;
}

input {
  width: 100%;
  height: 36px;
  padding: 10px 8px;
  margin: 10px 3px;
  border: 0;
  border-bottom: 1px solid grey;
}

form {
  margin: 10px auto;
}

button {
  background-color: #4b5fea;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  width: 100%;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
}

button:hover {
  background: linear-gradient(180deg,#4b5fea,#607aff);
}

.container {
  display: inline-block;
  margin: 20px;
  border-radius: 6px;
  padding: 20px;
  max-width: 300px;
  -webkit-box-shadow: 0 0 8px 0 rgba(239,239,253,.4), 0 22px 24px 0 rgba(239,239,253,.32), 0 9px 22px 0 rgba(228,228,234,.32);
  box-shadow: 0 0 8px 0 rgba(239,239,253,.4), 0 22px 24px 0 rgba(239,239,253,.32), 0 9px 22px 0 rgba(228,228,234,.32);
}

.flex-col {
  display: flex;
  border-radius: 3px;
}

.flex-col span {
  font-size: 10px;
  padding: 5px;
  border-bottom: 1px solid grey;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.dashboard {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.main {
  position: absolute;
  left: 200px;
  width: auto;
  padding: 20px;
  min-height: 100vh;
}

.sidebar {
  position: fixed;
  left: 0;
  width: 200px;
  background: #F9F9FB;
  color: black;
  height: 100%;
  letter-spacing: 0.8px;
  text-align: left;
  padding-top: 20px;
}

.sidebar ul {
  color: #7a7a7a;
  font-size: 14px;
  font-weight: 600;
}

.sidebar li {
  padding: 15px 40px;
}

.sidebar li:hover {
  background: white;
  cursor: pointer;
}

.sidebar h2 {
  font-size: 16px;
  margin: 15px 0;
  padding-left: 40px;
}